/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
    
    width: 1140px;
     height: 42px;

     position: absolute;
    top: 50px;
    left: 150px;


}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h2 {
    width: 100px;
height: 36px;
position: absolute;
top: 242px;
left: 669px;

font-family: Syne;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: center;

color: #1D6154;

}
form{
    position: absolute;
    top: 338px;
    left: 530px;
}
label{
    width: 46px;
height: 16px;
top: 315px;
left: 530px;

font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16.42px;
text-align: left;

color: #3D3D3D;
}
input{
    width: 379px;
height: 51px;
top: 338px;
left: 530px;
border: none;

color: #FFFFFF;
}
.button {
    width: 179px;
  height: 36px;
  top: 529px;
  left: 630px;
  border: none;
  border-radius: 60px;
  color: #FFFFFF;
  background-color: #1D6154;
}
.button1{
    width: 179px;
  height: 16px;
  top: 593px;
  left: 651px;
  border: none;
  font-family: Work Sans;
  font-size: 14px;
 font-weight: 500;
 line-height: 16.42px;
  text-align: left;
  color: #3D3D3D;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
img {
	display: block;
	margin: auto;
	width: 80%;
}

footer nav ul{
	display: flex;
	margin: 2em;
}
footer{
    position: absolute;
    width: 1140px;
    height: 60px;
    top: 764px;
}
.note-footer{
    width: 119px;
height: 16px;
top: 24px;
margin-left: 1000px;
font-family: Work Sans;
font-size: 14px;
font-weight: 300;
line-height: 16.42px;
color: black;

}

